if ! has nix_direnv_version || ! nix_direnv_version 2.3.0; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.3.0/direnvrc" "sha256-Dmd+j63L84wuzgyjITIfSxSD57Tx7v51DMxVZOsiUD8="
fi
use flake . --impure

# Vault
export VAULT_ADDR=http://127.0.0.1:8200

# Kubernetes
export KUBECONFIG=$DEVENV_STATE/kube/config
export KIND_CLUSTER_NAME=bank-vaults

# Helm
export HELM_CACHE_HOME="$DEVENV_STATE/helm/cache"
export HELM_CONFIG_HOME="$DEVENV_STATE/helm/config"
export HELM_DATA_HOME="$DEVENV_STATE/helm/data"
