# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

/.licensei.cache

./bank-vaults

# Operator
operator/build/_output/bin/*
operator/vendor
operator/go.mod
operator/go.sum

/vendor/

/.licensei.cache
bin/*
/build/

# Helm
**/*.tgz
**/*.lock

# Certificates
*.csr
*.pem

# IDE integration
/.idea/*
!/.idea/copyright/
!/.idea/*.iml
!/.idea/externalDependencies.xml
!/.idea/go.imports.xml
!/.idea/modules.xml
!/.idea/runConfigurations/
!/.idea/scopes/

vault-config.yaml

# goreleaser
dist/
