purgeUnmanagedConfig:
  enabled: true
  # Each section will be excluded during the tests to test both cases (global enabled and individually excluded).
  exclude:
    audit: false
    auth: false
    group-aliases: false
    groups: false
    policies: false
    secrets: false

audit:
  - path: audit_foo
    type: file
    options:
      file_path: /tmp/foo.log
  - path: audit_bar
    type: file
    options:
      file_path: /tmp/foo.log
  # The "path" would be defaulted to "type".
  - type: file
    options:
      file_path: /tmp/file.log

auth:
  # The auth "auth_approle" is used in group-aliases tests.
  - path: auth_approle
    type: approle
  - path: auth_foo
    type: approle
  - path: auth_bar
    type: userpass
  # The "path" would be defaulted to "type".
  - type: userpass
  # Test auth methods with roles for retry state pollution bug
  # Using approle which requires no external connectivity
  - type: approle
    path: approle1
    roles:
      - name: approle-role-1
        token_policies:
          - policy_foo
        token_ttl: 1h
        token_max_ttl: 4h
        bind_secret_id: true
  - type: approle
    path: approle2
    roles:
      - name: approle-role-2
        token_policies:
          - policy_bar
        token_ttl: 2h
        token_max_ttl: 8h
        bind_secret_id: true

groups:
  - name: group_foo
    type: external
    policies:
      - policy_foo
  - name: group_bar
    type: external
    policies:
      - policy_bar

group-aliases:
  - name: group_aliases_foo
    mountpath: auth_approle
    group: group_foo
  - name: group_aliases_bar
    mountpath: auth_approle
    group: group_bar

policies:
  - name: policy_foo
    rules: |
      path "foo" { capabilities = ["read"] }
  - name: policy_bar
    rules: |
      path "bar" { capabilities = ["read"] }

secrets:
  # The secret "passwords" is used in startupSecrets tests.
  - path: passwords/v2
    type: kv
    options:
      version: 2
  - path: passwords/v1
    type: kv
    options:
      version: 1
  - path: secret_foo
    type: kv
  - path: secret_bar
    type: ssh
  # The "path" would be defaulted to "type".
  - type: ssh

startupSecrets:
  - type: kv
    path: passwords/v2/data/foo
    data:
      data:
        SECRET: foo
  - type: kv
    path: passwords/v2/data/bar
    data:
      data:
        secret: bar
  - type: kv
    path: passwords/v1/baz
    data:
      data:
        secret: baz
