apiVersion: v1
appVersion: 0.4.15
description: A Helm chart that deploys a mutating admission webhook that configures applications to request env vars from Vault Secrets
name: vault-secrets-webhook
version: 0.3.13
maintainers:
- name: Banzai Cloud
  email: info@banzaicloud.com
