apiVersion: v1
name: vault-secrets-webhook
version: 1.8.1
appVersion: 1.8.0
description: A Helm chart that deploys a mutating admission webhook that configures applications to request env vars from Vault Secrets
home: https://banzaicloud.com/products/bank-vaults/
sources:
  - https://github.com/banzaicloud/bank-vaults
maintainers:
  - name: Banzai Cloud
    email: info@banzaicloud.com
