# Default values for spot-config-webhook.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

debug: false

image:
  repository: banzaicloud/vault-secrets-webhook
  tag: 0.4.12
  pullPolicy: IfNotPresent

service:
  name: vault-secrets-webhook
  type: ClusterIP
  externalPort: 443
  internalPort: 8443

env:
  VAULT_IMAGE: vault:latest
  VAULT_ENV_IMAGE: banzaicloud/vault-env:latest

resources: {}

nodeSelector: {}

tolerations: []

affinity: {}
