apiVersion: "v1"
kind: Namespace
metadata:
  name: tenant

---

apiVersion: "vault.banzaicloud.com/v1alpha1"
kind: "Vault"
metadata:
  name: central-vault
spec:
  size: 1
  image: vault:1.1.5
  bankVaultsImage: banzaicloud/bank-vaults:latest

  # Specify the ServiceAccount where the Vault Pod and the Bank-Vaults configurer/unsealer is running
  serviceAccount: vault

  # Unsealing will be done via Kubernetes Secrets if not defined otherwise, not highly secure,
  # but this is just an example, in production please use one of the KMS based unseal options.

  # A YAML representation of a final vault config file.
  # See https://www.vaultproject.io/docs/configuration/ for more information.
  config:
    storage:
      file:
        path: /vault/file
    listener:
      tcp:
        address: "0.0.0.0:8200"
        tls_cert_file: /vault/tls/server.crt
        tls_key_file: /vault/tls/server.key
    api_addr: https://central-vault.default:8200
    ui: true

  # See: https://github.com/banzaicloud/bank-vaults#example-external-vault-configuration for more details.
  externalConfig:
    policies:
      - name: allow_tenant_transit
        rules: path "tenant/transit/encrypt/autounseal" {
                 capabilities = ["update"]
                }
               path "tenant/transit/decrypt/autounseal" {
                 capabilities = ["update"]
               }
    auth:
      - type: kubernetes
        path: tenant/kubernetes
        roles:
          # Allow every the tenant Vault pod in the tenant namespace to use its transit engine
          - name: tenant
            bound_service_account_names: default
            bound_service_account_namespaces: tenant
            policies: allow_tenant_transit
            ttl: 1m
    secrets:
      - type: transit
        path: tenant/transit
        description: Transit engine for namespace 1
        configuration:
          keys:
            - name: autounseal
              type: aes256-gcm96
              exportable: false

  volumes:
    - name: vault-file
      persistentVolumeClaim:
        claimName: central-vault-file

  volumeMounts:
    - name: vault-file
      mountPath: /vault/file

  caNamespaces:
    - "tenant"
    - "vault-infra"

---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: central-vault-file
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi

---

apiVersion: "vault.banzaicloud.com/v1alpha1"
kind: "Vault"
metadata:
  name: "tenant-vault"
  namespace: tenant
spec:
  size: 1
  image: vault:1.1.5
  bankVaultsImage: banzaicloud/bank-vaults:latest

  serviceAccount: default

  # Root token and recovery keys will be stored in Kubernetes Secrets if not defined otherwise, not highly secure,
  # but this is just an example, in production please use one of the KMS based options.

  # A YAML representation of a final vault config file.
  # See https://www.vaultproject.io/docs/configuration/ for more information.
  config:
    seal:
      transit:
        address: "https://central-vault.default:8200"
        # token: will be injected via the webhook through VAULT_TOKEN="vault:login"
        key_name: autounseal
        mount_path: tenant/transit
        tls_ca_cert: "/central-vault/tls/ca.crt"
    storage:
      file:
        path: /vault/file
    listener:
      tcp:
        address: "0.0.0.0:8200"
        tls_cert_file: /vault/tls/server.crt
        tls_key_file: /vault/tls/server.key
    api_addr: https://tenant-vault.tenant:8200
    ui: true

  # See: https://github.com/banzaicloud/bank-vaults#example-external-vault-configuration for more details.
  externalConfig:
    policies:
      - name: allow_secrets
        rules: path "secret/*" {
          capabilities = ["create", "read", "update", "delete", "list"]
          }
    auth:
      - type: kubernetes
        roles:
          # Allow every pod in the default namespace to use the secret kv store
          - name: default
            bound_service_account_names: ["default"]
            bound_service_account_namespaces: ["tenant"]
            policies: allow_secrets
            ttl: 1h
    secrets:
      - path: secret
        type: kv
        description: General secrets.
        options:
          version: 2

  vaultEnvsConfig:
    - name: VAULT_TOKEN
      value: "vault:login"

  vaultAnnotations:
    vault.security.banzaicloud.io/vault-addr: https://central-vault.default:8200
    vault.security.banzaicloud.io/vault-role: tenant
    vault.security.banzaicloud.io/vault-path: tenant/kubernetes
    vault.security.banzaicloud.io/vault-tls-secret: "central-vault-tls"

  volumes:
    - name: vault-file
      persistentVolumeClaim:
        claimName: sub-vault-file
    - name: central-vault-tls
      secret:
        secretName: central-vault-tls

  volumeMounts:
    - name: vault-file
      mountPath: /vault/file
    - name: central-vault-tls
      mountPath: /central-vault/tls

---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: sub-vault-file
  namespace: tenant
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
