apiVersion: cert-manager.io/v1alpha2
kind: Issuer
metadata:
  name: vault-issuer
  namespace: cert-manager
spec:
  vault:
    path: pki/sign/kafka-users
    server: https://vault.default:8200
    # This values has to be changed to your Vault CA Bundle
    caBundle: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURhekNDQWxPZ0F3SUJBZ0lRSmgySGlWcmJrenJFRS9uSzN3bFByakFOQmdrcWhraUc5dzBCQVFzRkFEQkEKTVJVd0V3WURWUVFLRXd4Q1lXNTZZV2tnUTJ4dmRXUXhKekFsQmdOVkJBTVRIa0poYm5waGFTQkRiRzkxWkNCSApaVzVsY21GMFpXUWdVbTl2ZENCRFFUQWVGdzB5TURFeE1qQXhNREl3TWpkYUZ3MHlNVEV4TWpBeE1ESXdNamRhCk1FQXhGVEFUQmdOVkJBb1RERUpoYm5waGFTQkRiRzkxWkRFbk1DVUdBMVVFQXhNZVFtRnVlbUZwSUVOc2IzVmsKSUVkbGJtVnlZWFJsWkNCU2IyOTBJRU5CTUlJQklqQU5CZ2txaGtpRzl3MEJBUUVGQUFPQ0FROEFNSUlCQ2dLQwpBUUVBeXlKSnM3dHlCNUQ4WU45RW1VZVNreW9lcEZPMTROMS9HVVBzSHRqOHdXeTlRVVUzOGlhc2xKeGVBbnBaCktEUUFLQlB2WE0vejVPUGZ5WEVBQ0dCWk1BL0tkQUtONXgwYndvT1JaRngwR2l5QXRjWHVWR0xkbHRhUFoxYlAKVFJMeVRnOGNYdGxiaDE3b2N5d3BTaE1zNkF4US9CQXNvTE9ocDRPOTN0WFR6ZEFuVGczZENYTzNTMTFEZTVVdApEN01sTEUrbU12aFBCam83bFNrQ2RKVFo5VTlaZ0IyYjNBZzRoN1pKc1IyMHMwaXdOZEVQZjhxSUl5R2lzN3FmCkxSQkl6dWxQUHh0TnVUT1ZLNlpxQnhsL2dQbmNFU1RBdUhLb0xlazYzcG9Kb2RzekY3clc5UHJja3dDUXB6cy8KR1VUM2VaRHFrbDAxb1Z1Y1htNjFnM3FJK3dJREFRQUJvMkV3WHpBT0JnTlZIUThCQWY4RUJBTUNBZ1F3SFFZRApWUjBsQkJZd0ZBWUlLd1lCQlFVSEF3RUdDQ3NHQVFVRkJ3TUNNQThHQTFVZEV3RUIvd1FGTUFNQkFmOHdIUVlEClZSME9CQllFRkJ2SjdPZXdBUW5lWTdHY01mS3FVNDJjaGFGNU1BMEdDU3FHU0liM0RRRUJDd1VBQTRJQkFRQmgKSXhGMWlmVysrV2dFVThibmtDVkhQWEtkTEVvb0NGc0tKTXNhS3ZkMFlVb0hDQ3M2NzlIcmVMZTIrVUJyUnZubQpiZWlOT3ptYWtJWjRrS0NaOXVIemo4V3hFYXdSMjM1R0lxdmhEclA3VDN3SDliQWcrTmVKalY1TDVFYTkwYTRBCmpibjVvamMwK2Zpa1BRUjJrUUhDQUg1R0l6QlZMRm4rZllNVHhCeGtRSk4yd1BzeWE3NXlubWpVeTBMYVBZYTEKbXFWZWpNek1zc1l2anVvWFA1VmpqSW1MTTAranJPTlVzODFoSzdmekhINzkvVDNNMGFCRkJSQU5qVGkwMEtLZQpSSUw0cks4OXNEcFg5SzJ6QnpJTHI0bWN6MnYrSmJEc1lQSW5oazcvSmtzRnZOWUZiU1hYTm1ta2JwSUhZOHBtCk1MMGpZTWdYZVpwRmRHOHE2OE0yCi0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K
    auth:
      kubernetes:
        role: cert-manager
        mountPath: /v1/auth/kubernetes
        secretRef:
          # This values has to be changed to your cert-manager SA token name
          name: cert-manager-token-25l2k
          key: token
